.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  height: 50px;
  background: #F3F6F9;
  border: 1px solid #D8EBFF;
  border-radius: 6px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease;

  p {
    margin: 0;
    width: 90%;
  }
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}
