<div class="dropdown">
  <div class="dropdown-toggle" (click)="toggleDropdown()">
    <p>{{ selectedOption?.name }}</p>
    <span class="arrow"></span>
  </div>
  <div class="dropdown-menu" [@fadeInOut]="isOpen ? 'show' : 'hide'">
    <div class="dropdown-option" (click)="create()" style="font-weight: bold; color:#3F7EFF;">
      Create terminology
    </div>
    <div class="dropdown-option" *ngFor="let option of options" >
      <p (click)="selectOption(option)">{{ option.name }} </p> <i *ngIf="option.id" (click)="update(option)" class="pi pi-pencil"></i>
    </div>
  </div>
</div>
