<div class="about-us">
  <div class="main-section">
    <div class="text">
      <h2>Your ultimate mobile
        translator and dictionary app</h2>
        <div class="line"></div>
    </div>
    <div class="image">
      <p>About us</p>
    </div>
  </div>
  <div class="second-section">
    <p>At Pocket Search, our mission is to break down language barriers in Georgia. We believe that effective communication is the key to building strong connections and promoting cultural exchange. With our app, we aim to empower individuals to communicate effortlessly and confidently.</p>
    <p>With Pocket Search, you can trust in the accuracy and reliability of our translations. We have invested extensive time and expertise in developing a comprehensive language database, ensuring precise and contextually appropriate translations for both Azerbaijani and Georgian languages. Whether you are a traveler, student, or language enthusiast, our app will be your reliable companion, enabling you to navigate different linguistic landscapes effortlessly.</p>
    <div class="partnership">
      <div class="line"></div>
      <p>Partnerships</p>
      <div class="line"></div>
    </div>
    <div class="partnership-example">
      <div class="first"></div>
      <img src="assets/images/partners.png" alt="">
      <div class="second"></div>
    </div>
    <p>We take pride in our partnerships with esteemed organizations such as the American Embassy and the Solidarity Museum. These collaborations have allowed us to enhance our offerings and expand our reach, benefiting from their linguistic expertise and cultural insights. By working closely with these institutions, we continually strive to provide our users with the highest quality translations and a deeper understanding of the languages and cultures we serve.</p>
  </div>
</div>
