<div class="word-upsert-wrapper">
  <div class="back" (click)="goToBack()">
    <img src="assets/images/back.svg" alt="">
    <p>{{ this.WordId === 'create' ? 'Add new word' : 'Update word'}}</p>
  </div>
  <div class="preview-block">
    <p class="preview">Preview</p>
    <p class="preview-text">
      <span style="font-weight: bold;">{{(Request.headWord ? Request.headWord : '')}}</span>
      [{{Request.pronunciation? Request.pronunciation : ''}}] ts. <span
        *ngFor="let item of Request.senses">{{item.gloss ? item.gloss : '' + ', '}}</span>- tərcümə.
      <br>
      <span *ngFor="let item of Request.senses">{{item.definition?item.definition:'' + ', '}}</span> - izahı. <span
        *ngFor="let item of Request.senses">{{item.exampleOriginal ? item.exampleOriginal : '' + ', '}}</span>-
      ნიმუში sin:
      <br>
      <span>Synonyms: </span>
      <span *ngFor="let item of Request.senses">
        <span *ngFor="let s of item.synonyms">
           {{s ? (s.headWord + s.gloss):'' + ', '}}

        </span>
      </span>
      <br>
      <span>Antonyms: </span>
      <span *ngFor="let item of Request.senses">
        <span *ngFor="let s of item.antonyms">
           {{s ? (s.headWord + s.gloss):'' + ', '}}

        </span>
      </span>
      <br>
      <span>See also: </span>
      <span *ngFor="let item of Request.senses">
       {{item.definition + ', '}}
      </span>
    </p>
  </div>
  <div class="main-form-block">
    <div class="row main">
      <div class="input-item">
        <label for="">Main word</label>
        <input type="text" [(ngModel)]="Request.headWord">
      </div>
      <div class="input-item">
        <label for="">Location</label>
        <input type="text" [(ngModel)]="Request.location">
      </div>

    </div>
    <div class="row">
      <div class="input-item">
        <label for="">Lexeme Form</label>
        <textarea name="" id="" [(ngModel)]="Request.headWord"></textarea>
      </div>
      <div class="input-item">
        <label for="">Pronunciation</label>
        <textarea name="" id="" [(ngModel)]="Request.pronunciation"></textarea>
      </div>
      <div class="input-item">
        <label for="">Etymology</label>
        <textarea name="" id="" [(ngModel)]="Request.etymology"></textarea>
      </div>
    </div>
    <div class="senses">
      <div class="sense-item" *ngFor="let sense of Request.senses;let i = index;">
        <div class="header">
          <h3>Sense {{i+1}}</h3>
          <div class="delete" *ngIf="Request.senses.length > 1" (click)="deleteSense(i)">
            <i class="pi pi-trash"></i>
          </div>
        </div>
        <div class="sense-form">
          <div class="row">
            <div class="input-item">
              <label for="">Gloss</label>
              <textarea name="" id="" [(ngModel)]="sense.gloss"></textarea>
            </div>
            <div class="input-item">
              <label for="">Definition</label>
              <textarea name="" id="" [(ngModel)]="sense.definition"></textarea>
            </div>
            <div class="input-item">
              <label for="">Academic</label>
              <textarea name="" id="" [(ngModel)]="sense.academic"></textarea>
            </div>
          </div>
          <div class="row second">
            <div class="input-item">
              <label for="">Example original</label>
              <textarea name="" id="" [(ngModel)]="sense.exampleOriginal"></textarea>
            </div>
            <div class="input-item">
              <label for="">Example translation</label>
              <textarea name="" id="" [(ngModel)]="sense.exampleTranslation"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="input-item">
              <label for="">Gramatical info</label>
              <app-dropdown [options]="grammaticalInfoOptions" (selectValue)="selectGrammaticalInfo($event, sense)"
                [DefaultSelection]="sense.grammaticalInfo"></app-dropdown>
            </div>
            <div class="input-item synonym">
              <label for="">Synonyms</label>
              <div class="dropdown">
                <div class="input">
                  <input type="text" id="synonym" [(ngModel)]="sense.SynonimSearchText" (keyup.enter)="search(sense)"
                    (keyup.backspace)="clearSearchArray(sense)">
                  <i class="pi pi-search" *ngIf="!sense.synonymLoading" (click)="search(sense)"></i>
                  <i class="pi pi-spin pi-spinner" *ngIf="sense.synonymLoading"></i>
                </div>
                <div class="list" *ngIf="sense.showSynonymDrop && sense.SynonimSearchText.length>2">
                  <div class="item add-new" (click)="createWord(sense, 1)">
                    <p>Add a new word</p>
                  </div>
                  <div class="item" *ngFor="let res of sense.SearchResults">
                    <p (click)="showSensesInres(res, sense)">{{res.headWord}}</p>
                    <div class="selected-senses" *ngIf="res.showSenses">
                      <div class="item" *ngFor="let s of res.senses" (click)="selectSynonymFromUI(res, sense, s)">
                        <p>{{s.gloss}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="selectedSynonyms">
                <div class="item" *ngFor="let s of sense.synonymsForView;let i = index;">
                  <p>{{s}}</p>
                  <div class="remove" (click)="removeSelectedSynonym(i, sense)">
                    <img src="assets/images/times.svg" alt="">
                  </div>
                </div>
              </div>
            </div>




            <div class="input-item synonym">
              <label for="">Antonyms</label>
              <div class="dropdown">
                <div class="input">
                  <input type="text" id="antonym" [(ngModel)]="sense.AntonymSearchText"
                    (keyup.enter)="searchAntonym(sense)" (keyup.backspace)="clearAntonymSearchArray(sense)">
                  <i class="pi pi-search" *ngIf="!sense.antonymLoading" (click)="searchAntonym(sense)"></i>
                  <i class="pi pi-spin pi-spinner" *ngIf="sense.antonymLoading"></i>
                </div>
                <div class="list" *ngIf="sense.showAntonymDrop && sense.AntonymSearchText.length>2">
                  <div class="item add-new" (click)="createWord(sense,2)">
                    <p>Add a new word</p>
                  </div>
                  <div class="item" *ngFor="let res of sense.AntonymSearchResults">
                    <p (click)="showAntonymSensesInres(res, sense)">{{res.headWord}}</p>
                    <div class="selected-senses" *ngIf="res.showSenses">
                      <div class="item" *ngFor="let s of res.senses" (click)="selectAntonymFromUI(res, sense, s)">
                        <p>{{s.gloss}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="selectedSynonyms">
                <div class="item" *ngFor="let s of sense.antonymsForView;let i = index;">
                  <p>{{s}}</p>
                  <div class="remove" (click)="removeSelectedAntonym(i, sense)">
                    <img src="assets/images/times.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-item">
              <label for="">Termin</label>
              <app-termin-drop  (selectValue)="selectTerminology($event, sense)"
                [DefaultSelection]="sense.terminologyId"></app-termin-drop>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="add-sense-btn" (click)="addSense()">
      <div class="plus-icon"></div>
      <p>Add sense {{Request.senses.length + 1}}</p>
    </div>
  </div>
  <div class="actions">
    <div class="delete" (click)="confirmPosition()">
      <i class="pi pi-trash" *ngIf="!deleteLoading"></i>
      <i class="pi pi-spin pi-spinner" *ngIf="deleteLoading"></i>
    </div>
    <div class="save-btns">
      <div class="save-close" (click)="saveClose()">
        <i class="pi pi-save"></i>
        <p>Save & Close</p>
      </div>
      <div class="save-add" *ngIf="WordId === 'create'" (click)="saveNew()">
        <i class="pi pi-save"></i>
        <p>Save & Add more</p>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" position="bottom-left" [baseZIndex]="10000">
</p-confirmDialog>
