<div class="count-cards-wrapper">
  <div class="all">
    <div class="count">
      <p class="label">
        All words
      </p>
      <p class="value">
        {{CardsInfo.all.amount}}
      </p>
    </div>
    <div class="create">
      <button (click)="create.emit()">Add new</button>
    </div>
  </div>
  <div class="other">
    <div class="card-item">
      <p class="label">
        Adverbs
      </p>
      <p class="value">
        {{CardsInfo.adverbs.amount}}
      </p>
    </div>
    <div class="card-item">
      <p class="label">
        Verbs
      </p>
      <p class="value">
        {{CardsInfo.verbs.amount}}
      </p>
    </div>
    <div class="card-item">
      <p class="label">
        Nouns
      </p>
      <p class="value">
        {{CardsInfo.nouns.amount}}
      </p>
    </div>
    <div class="card-item">
      <p class="label">
        Pronouns
      </p>
      <p class="value">
        {{CardsInfo.pronouns.amount}}
      </p>
    </div>
  </div>
</div>
