<div class="count-cards-wrapper">
  <div class="all">
    <div class="count">
      <p class="label">
        All words
      </p>
      <p class="value">
        {{CardsInfo[0].amount}}
      </p>
    </div>
    <div class="create">
      <button (click)="create.emit()">Add new</button>
    </div>
  </div>
  <div class="other"  *ngFor="let item of CardsInfo; let i = index">
    <div class="card-item" *ngIf="i > 0">
      <p class="label">
        {{item.firstName}}
      </p>
      <p class="value">
        {{item.amount}}
      </p>
    </div>
  </div>

</div>
