<div class="count-cards-wrapper">
  <div class="all">
    <div class="count">
      <p class="label">
        All words
      </p>
      <p class="value">
        2056
      </p>
    </div>
    <div class="create">
      <button>Add new</button>
    </div>
  </div>
  <div class="other">
    <div class="card-item">
      <p class="label">
        Adverbs
      </p>
      <p class="value">
        1250
      </p>
    </div>
    <div class="card-item">
      <p class="label">
        Adverbs
      </p>
      <p class="value">
        1250
      </p>
    </div>
    <div class="card-item">
      <p class="label">
        Adverbs
      </p>
      <p class="value">
        1250
      </p>
    </div>
    <div class="card-item">
      <p class="label">
        Adverbs
      </p>
      <p class="value">
        1250
      </p>
    </div>
  </div>
</div>
