<div class="words-list-wrapper">
  <div class="count-cards">
    <app-count-cards></app-count-cards>
  </div>
  <div class="alphabet-table">
    <div class="aphabet">

    </div>
    <div class="table-block">
      <div class="pagination-search">
        <div class="pagination">
          <div class="item"><img src="assets/images/left-arrow.svg" alt=""></div>
          <div class="item count"><p>3</p></div>
          <div class="item"><img src="assets/images/right-arrow.svg" alt=""></div>
        </div>
        <div class="search">
          <input type="text">
          <div class="search-btn">
            <img src="assets/images/search-btn.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
