/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  background: #02A698;
  border-radius: 5px;
  height: 38px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  font-family: 'Poppins';
  font-style: normal;
  padding: 10px;
}

p,
h3,
label,
h2 {
  font-family: 'Poppins';
  font-style: normal;
  margin: 0;
  padding: 0;
}
