<div class="header-wrapper">
  <div class="logo" (click)="goToHome()">
    <p>Pocket <span>Search</span></p>
  </div>
  <div class="lang-change">
    <div class="switch-item" [ngClass]="{'active':dict === selectedDictionary}" *ngFor="let dict of Dictionaries" (click)="selectActiveDictionary(dict)">
      <p>{{dict.viewFrom}}</p>
      <img src="assets/images/right-arrow.svg" alt="">
      <p>{{dict.viewTo}}</p>
    </div>

  </div>
  <div class="personal-info">
    <p>{{PersonalInfo}}</p>
    <img src="assets/images/logout.svg" (click)="logOut()" alt="">
  </div>
</div>
